In [8]:
import pandas as pd 
import os

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 38EF-92C1

 Directory of C:\Users\dharm\Documents\Biostate\count_files

26-10-2024  16:52    <DIR>          .
26-10-2024  16:11    <DIR>          ..
26-10-2024  16:48    <DIR>          .ipynb_checkpoints
26-10-2024  16:47    <DIR>          count_matrix
26-10-2024  16:36         7,962,539 count_matrix.zip
26-10-2024  16:52               785 Untitled.ipynb
               2 File(s)      7,963,324 bytes
               4 Dir(s)  47,796,240,384 bytes free

In [4]:
pwd

'C:\\Users\\dharm\\Documents\\Biostate\\count_files'

In [16]:
path = r"C:/Users/dharm/Documents/Biostate/count_files/featurecounts_output2/"

In [23]:
# Initialize an empty DataFrame to store merged data
merged_df = pd.DataFrame()

# Loop through all files in the specified directory
for filename in os.listdir(path):
    if filename.endswith(".txt"):
        # Read the file
        file_path = os.path.join(path, filename)
        df = pd.read_csv(file_path, sep="\t", skiprows =1)  # Adjust the delimiter if needed

        # Extract the gene_name and last column (sample counts)
        sample_name = filename.split('_no')[0]  # Keep the part before '_no_duplicates_counts'
        df = df[['Geneid', df.columns[-1]]]  # Select 'gene_name' and last column
        df.columns = ['Geneid', sample_name]  # Rename columns

        # Merge with the existing DataFrame on 'gene_name'
        if merged_df.empty:
            merged_df = df
        else:
            merged_df = pd.merge(merged_df, df, on='Geneid', how='outer')

# Save the merged DataFrame to a file
output_path = os.path.join(path, "merged_counts.txt")
merged_df.to_csv(output_path, sep="\t", index=False)
#print(f"Merged count file saved to {output_path}")

In [24]:
merged_df

,Geneid,Heart_ZT0_1,Heart_ZT0_2,Heart_ZT12_1,Heart_ZT12_2,Liver_ZT0_1,Liver_ZT0_2,Liver_ZT12_1,Liver_ZT12_2
0,4933401J01Rik,0,0,0,0,0,0,0,0
1,Gm26206,0,0,0,0,0,0,0,0
2,Xkr4,14,8,8,2,1,0,2,0
3,Gm18956,0,0,0,0,0,0,0,0
4,Gm37180,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
56892,mt-Nd6,28106,27869,35725,13628,4922,8331,5208,5576
56893,mt-Te,577,534,781,119,46,158,90,77
56894,mt-Cytb,120999,111583,134643,67499,36892,50712,33954,35129
56895,mt-Tt,2,0,4,0,1,0,0,0
56896,mt-Tp,1373,1176,1460,546,310,782,426,324